@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.body {
  background-image: url(./imges/Blue\ Green\ Watercolor\ Linktree\ Background.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0%;
}

form h1 {
  display: none;
}

.s-btn {
  background-color: #41baa8 !important;
}

.navbar {
  position: fixed !important;
  width: 100% !important;
  background-color: #0077b6;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  top: 0%;
  left: 0%;
  padding: 0 15px 0 15px !important;
  z-index: 10;
}

.allcontent {
  width: 70% !important;
  border-radius: 10px !important;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex !important;
  flex-direction: row !important;
  /* background-color: white; */
}

.form-con {
  width: 100% !important;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  background-color: transparent !important;
  border: none !important;
}

.img-con {
  width: 100%;
}

.img-con img {
  width: 100%;
  height: 100%;
  border-radius: 130px 10px 10px 130px;
  box-shadow: 0 0 30px #109f9266;
  object-fit: contain;
  background-image: url(./imges/img.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo-con {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: aliceblue;
  margin: auto;
}

.logo-con img {
  width: 100%;
  height: 100%;
}

.form-con h1 {
  font-size: 24px;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
}

.nav-con {
  padding: 0 15px 0 15px;
}

.nav-icon img {
  width: 100px;
}

.navbar-toggler-custom {
  border: none;
  background: transparent;
}

.login-con {
  margin-left: 50px;
}

.login-con span {
  margin-top: 9px;
  color: white;
}

.marg {
  margin-left: 10px;
}

.nav-link {
  font-weight: 600 !important;
}

.lmg {
  margin: 0% !important;
  padding: 0 3px 0 3px;
}

.hero-section {
  background-image: url(./imges/man-s-hand-medical-glove-holds-stethoscope-bright-blue_164357-5141.avif);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #212529;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.about-us-section {
  background-color: white;
}

.about-con {
  background-color: #f0f2f5;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.about-text {
  margin: auto;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.about-text h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #0077b6;
}

.about-text p {
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #212529;
}

.about-img {
  width: 50%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  margin-top: 20px;
}

.about-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.nav-btn {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: 10px;
}

.singup {
  width: 100%;
  margin-top: 6px;
}

.singup button {
  text-decoration: none;
  background-color: #003060;
  color: white;
  border-radius: 50px;
  text-transform: capitalize;
  padding: 10px 0px 10px 0px;
  width: 95px;
  font-size: 15px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.login {
  width: 100%;
  margin-top: 6px;
}

.login button {
  text-decoration: none;
  background-color: #055c9d;
  color: white;
  border-radius: 0px 50px 50px 0px;
  padding: 10px 0px 10px 0px;
  width: 95px;
  font-size: 15px;
  border: none;
  position: relative;
  left: -20px;
  cursor: pointer;
}

.login button:hover {
  background-color: #001e3c;
  color: white;
}

.blog-section {
  width: 100% !important;
  height: 500px;
  background-color: white;
  position: relative;
  z-index: 0;
}

.blog-card {
  background-color: #f1f3f5 !important;
}

.card-title {
  color: #0077b6 !important;
}

.card-text {
  color: #212529 !important;
}

.service-section {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

.heading {
  color: #0077b6;
}

.service-con {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px 40px 10px 40px !important;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.service-card-img {
  padding: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.service-card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-indicators {
  position: absolute !important;
  top: 100% !important;
}

.carousel-control-prev {
  position: absolute !important;
  left: -90px !important;
  z-index: 1 !important;
}

.carousel-control-next {
  position: absolute !important;
  right: -90px !important;
  z-index: 1 !important;
}

.contact-con {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.contact-text {
  width: 50%;
  background-color: #0084ca;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 100px;
}

.contact-text h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 2.5;
  text-transform: uppercase;
}

.socical-media {
  width: 50%;
  background-color: #0367b3;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 100px;
}

.socical-media h1 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 2.5;
  text-transform: uppercase;
}

.contact-text p {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}

.pet {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.contact-para {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 10px 100px 10px 100px;
}

/* .footer-con {
  background-image: radial-gradient(
    circle 950px at 2.5% 8%,
    rgba(44, 103, 176, 1) 0%,
    rgba(35, 56, 136, 1) 90%
  );
} */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .allcontent {
    width: 70% !important;
    overflow: auto;
    padding-bottom: 10px;
  }

  .link {
    font-size: small;
  }

  .s-btn {
    width: 80px;
    font-size: small !important;
  }

  form h1 {
    display: block;
    text-align: center;
    font-size: medium;
    font-weight: bold;
  }

  #nav-login {
    display: block;
  }

  .nav-btn {
    display: none;
  }

  .carousel-control-prev {
    position: absolute !important;
    left: -30px !important;
    z-index: 1 !important;
  }

  .carousel-control-next {
    position: absolute !important;
    right: -30px !important;
    z-index: 1 !important;
  }

  .singup {
    width: 100%;
    margin-top: 6px;
  }

  .singup button {
    position: relative;
    left: -90px;
    top: 22px;
    z-index: 1;
  }

  .login {
    width: 100%;
    margin-top: 6px;
  }

  .login button {
    position: relative;
    left: -15px;
    top: -26px;
  }

  .card-flex {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }

  .contact-con {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .contact-text {
    width: 100%;
  }

  .socical-media {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .allcontent {
    width: 70% !important;
    height: 90vh;
    border-radius: 10px !important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex !important;
    flex-direction: row !important;
  }

  #nav-login {
    display: none;
  }
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.card {
  margin: 10px;
}

/* blog slider */

.blog-con-row {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  z-index: 1;
  overflow: hidden;
}

.blog-con-row .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 20px;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.slide .item:nth-child(3) {
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 210px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 420px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6) {
  left: calc(50% + 660px);
  opacity: 0;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
  z-index: 100;
}

.slide .item:nth-child(2) .content {
  display: block;
}

.content .name {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  color: #000;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des {
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  color: #000;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.content button {
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0%;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button button {
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  color: black;
  font-size: 54px;
  margin-bottom: 10px;
}

.button button:hover {
  color: #5e5757;
}
