<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/style.css" />
    <link
      rel="stylesheet"
      href="./fontawesome-free-5.15.4-web/css/all.min.css"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
  </head>

  <body class="home-page">
    <div class="container-fluid nav-bar">
      <div class="nav-con">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid p-0">
            <button
              class="navbar-toggler-custom d-block d-lg-none"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon-custom"
                ><img src="./CSS/imges/more.png" alt="" width="25" height="25"
              /></span>
            </button>

            <a
              class="navbar-brand"
              style="margin-left: 40px !important"
              href="#"
            >
              <div class="nav-icon text-end">
                <img src="./CSS/imges/nav-logo.png" alt="Logo" />
              </div>
            </a>

            <div class="nav-btn" id="nav-login">
              <div class="singup">
                <a href="./index.html">
                  <button>sign up</button>
                </a>
              </div>
              <div class="login">
                <a href="./login.html">
                  <button>Log in</button>
                </a>
              </div>
            </div>

            <div
              class="collapse navbar-collapse justify-content-end"
              id="navbarNav"
            >
              <ul class="navbar-nav align-items-start">
                <li class="nav-item">
                  <a
                    class="nav-link text-white active marg"
                    aria-current="page"
                    href="#home"
                    >Home</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-white marg"
                    aria-current="page"
                    href="#blog"
                    >Blog</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-white marg"
                    aria-current="page"
                    href="#service"
                    >Service</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-white marg"
                    aria-current="page"
                    href="#about"
                    >About</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link text-white marg"
                    aria-current="page"
                    href="#contact"
                    >Contact us</a
                  >
                </li>
              </ul>
            </div>
            <div class="nav-btn">
              <div class="singup">
                <a href="./index.html">
                  <button>sign up</button>
                </a>
              </div>
              <div class="login">
                <a href="./login.html">
                  <button>Log in</button>
                </a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="container-fluid hero-section" id="home">
      <div class="row">
        <div class="col-md-12">
          <div class="home-con">
            <div class="home-text">
              <h1>
                Get the best <br />
                <span>Insurance</span> for your <br />
                <span>Car</span>
              </h1>
              <p>
                Get the best insurance for your car and make sure you are safe
                on the road
              </p>
              <button class="btn btn-primary">Get Started</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid blog-section" id="blog">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center p-2 heading">Blog</h1>
          <div class="blog-con">
            <div class="row">
              <div class="col-md-12 blog-con-row">
                <div class="slide">
                  <div
                    class="item"
                    style="
                      background-image: url(./CSS/imges/ai-generated-8327632_1280.jpg);
                    "
                  >
                    <div class="content">
                      <div class="name">Switzerland</div>
                      <div class="des">
                        X-Dev, Transforming code into visual poetry..!
                      </div>
                      <button class="btn btn-primary">See More</button>
                    </div>
                  </div>
                  <div
                    class="item"
                    style="
                      background-image: url(./CSS/imges/ai-generated-8750158_1280.jpg);
                    "
                  >
                    <div class="content">
                      <div class="name">Finland</div>
                      <div class="des">
                        X-Dev, Transforming code into visual poetry..!
                      </div>
                      <button class="btn btn-primary">See More</button>
                    </div>
                  </div>
                  <div
                    class="item"
                    style="
                      background-image: url(./CSS/imges/cat-4876360_1280.jpg);
                    "
                  >
                    <div class="content">
                      <div class="name">Iceland</div>
                      <div class="des">
                        X-Dev, Transforming code into visual poetry..!
                      </div>
                      <button class="btn btn-primary">See More</button>
                    </div>
                  </div>
                  <div
                    class="item"
                    style="
                      background-image: url(./CSS/imges/horse-8008038_1280.jpg);
                    "
                  >
                    <div class="content">
                      <div class="name">Australia</div>
                      <div class="des">
                        X-Dev, Transforming code into visual poetry..!
                      </div>
                      <button class="btn btn-primary">See More</button>
                    </div>
                  </div>
                  <div
                    class="item d-block"
                    style="
                      background-image: url(./CSS/imges/kitten-1845789_1280.jpg);
                    "
                  >
                    <div class="content">
                      <div class="name">Netherland</div>
                      <div class="des">
                        X-Dev, Transforming code into visual poetry..!
                      </div>
                      <button class="btn btn-primary">See More</button>
                    </div>
                  </div>
                </div>
                <div class="button">
                  <button class="prev">
                    <i class="fas fa-caret-left"></i>
                  </button>
                  <button class="next">
                    <i class="fas fa-caret-right"></i>
                  </button>
                </div>
              </div>
              <!-- <div class="col-md-4">
                            <div class="card blog-card">
                                <img src="./CSS/imges/ai-generated-8327632_1280.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card blog-card">
                                <img src="./CSS/imges/ai-generated-8750158_1280.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card blog-card">
                                <img src="./CSS/imges/cat-4876360_1280.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the bulk of the card's content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
                        </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container service-section" id="service">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center p-2 heading">Service</h1>
          <div class="service-con m-4">
            <div class="row">
              <div class="col-md-4">
                <div class="card blog-card">
                  <img
                    src="./CSS/imges/ai-generated-8327632_1280.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card blog-card">
                  <img
                    src="./CSS/imges/ai-generated-8750158_1280.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card blog-card">
                  <img
                    src="./CSS/imges/cat-4876360_1280.jpg"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div id="carouselExampleIndicators" class="carousel slide">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-dark"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2" class="bg-dark"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"  class="bg-dark"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="row p-4">
                                <div class="carousel-item active">
                                    <div class="row card-flex">
                                        <div class="col-md-3 col-12">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row card-flex">
                                        <div class="col-md-3">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row card-flex">
                                        <div class="col-md-3">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="card service-card-img">
                                                <img src="./CSS/imges/kitten-1845789_1280.jpg" class="img-fluid" alt="...">
                                                <div class="card-body service-card">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">10.5$</p>
                                                    <a href="#" class="btn btn-primary">Add to Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon-custom" aria-hidden="true"><img src="./CSS/imges/back.png" alt="" width="40px" height="40px"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"><img src="./CSS/imges/next.png" alt="" width="40px" height="40px"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid about-us-section" id="about">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center p-2 heading">About US</h1>
          <div class="about-con">
            <div class="about-text">
              <h1>About Us</h1>
              <p>
                Get the best insurance for your car and make sure you are safe
                on the road Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Voluptatibus architecto inventore debitis. Aliquid sit
                minus magnam minima laborum, vel voluptates omnis, dolorem sequi
                ratione pariatur voluptatem veritatis quos quisquam ex.
              </p>
              <button class="btn btn-primary">Read More</button>
            </div>
            <div class="about-img d-none d-lg-block">
              <img src="./CSS/imges/horse-8008038_1280.jpg" alt="About" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid contact-us-section" id="cantact">
      <div class="row">
        <div class="col-md-12 p-0 m-0">
          <h1 class="text-center p-2 heading">Contact US</h1>
          <p class="contact-para">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
            officia provident aut maiores autem, veritatis doloremque voluptates
            deleniti. Cumque dignissimos suscipit similique ex ipsum laboriosam
            voluptate reiciendis soluta distinctio voluptatibus.
          </p>
          <div class="contact-con">
            <div class="contact-text m-0">
              <!-- <h1>Contact Us</h1>
              <p>+92 123212004</p>
              <p>ubaidrahmanarshad@gmail.com</p>
              <p>Qasir town shahdara lahore m block</p> -->
              <div class="card">
                <div class="card-body">
                  <form>
                    <!-- 2 column grid layout with text inputs for the first and last names -->
                    <div class="row mb-4">
                      <div class="col">
                        <div data-mdb-input-init class="form-outline">
                          <input type="text" id="form3Example1" class="form-control" />
                          <label class="form-label" for="form3Example1">First name</label>
                        </div>
                      </div>
                      <div class="col">
                        <div data-mdb-input-init class="form-outline">
                          <input type="text" id="form3Example2" class="form-control" />
                          <label class="form-label" for="form3Example2">Last name</label>
                        </div>
                      </div>
                    </div>
                  
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="email" id="form3Example3" class="form-control" />
                      <label class="form-label" for="form3Example3">Email address</label>
                    </div>
                  
                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                      <input type="password" id="form3Example4" class="form-control" />
                      <label class="form-label" for="form3Example4">Password</label>
                    </div>
                  
                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                      <label class="form-check-label" for="form2Example33">
                        Subscribe to our newsletter
                      </label>
                    </div>
                  
                    <!-- Submit button -->
                    <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4 w-100">Sign up</button>
                  
                    <!-- Register buttons -->
                    <div class="text-center">
                      <p>or sign up with:</p>
                      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-facebook-f"></i>
                      </button>
                  
                      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-google"></i>
                      </button>
                  
                      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-twitter"></i>
                      </button>
                  
                      <button data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                        <i class="fab fa-github"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="socical-media m-0">
              <h1>socialze with social</h1>
              <div class="links">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
              <h1>pet project</h1>
              <div class="links pet">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid footer">
      <div class="row">
        <div class="col-md-12 footer-con">
          <div class="footer-con">
            <div class="footer-text">
              <p class="text-center text-white py-2 pt-4">
                OK THAT'S ENOUGH. PLEASE HAVE A LOOK AT MY
                <span class="text-decoration-underline" style="color: #95d2f2"
                  >WORK.</span
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./script.js"></script>
</html>
